/* Universal settings */
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    min-width: 590px;
    /* background-color: #1d1d20; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23434343'/%3E%3Cstop offset='1' stop-color='%23151533'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23000000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000000' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.31'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 4rem;
}
h3{
    font-weight: 100;
}
h4{
    font-size: 4rem;
    margin: 1rem
}
/* Nav and sidebar settings */
@media only screen and (min-width: 1025px){
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: rgba(0,0,0, .5);
        width: 10rem;
        text-align: center;
        height: 100%;
        padding: 25px;
        overflow-x: hidden;
        position: fixed;
    }
    .sidebar{
        display: none;
    }
    .mainPage{
        margin-left: 13rem;
    }
    #introSection{
        padding-top: 7.5rem;
        padding-inline: 5rem;
    }
    .projectLeft, .projectRight{
        width: 30rem;
    }
}
@media only screen and (max-width: 1024px){
    .nav{
        display: none;
        overflow-x: hidden;
        position: fixed;
    }
    .sidebar{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    #introSection{
        margin-top: 2rem;
        margin-left: 2rem;
        font-size: 1rem;
    }
    .projectLeft, .projectRight{
        width: 20rem;
    }
}
.sidebar-img{
    height: 5rem;
    width: auto;
    margin-top: 2rem;
    margin-left: 2rem;
    rotate: 0deg;
    transition: 300ms ease-in-out;
}
.sidebar-img:active{
    rotate: 90deg;
    transition: 300ms ease-in-out;
}
.logo{
    width: 150px;
    height: auto;
    padding: 22px;
    border-radius: 10px;
}
.ikony{
    background: none;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.6rem;
    color: #7070a8;
    padding: 10px;
    transition: transform 1s ease;
}
#mail:hover{
    transform: scale(1.1);
    color: #EA4335;
}
#github:hover{
    transform: scale(1.1);
    color: #333;
}
#instagram:hover{
    transform: scale(1.1);
    color: #8a3ab9;
}
#linkedin:hover{
    transform: scale(1.1);
    color: #0072b1;
}
.button{
    background: none;
    border: none;
    color: #7070a8;
    padding: 22px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    font-size: 1.6rem;
    transition: transform 1s ease;
}
.button:hover{
    transform: scale(1.1);
}
/* Introduction section settings */
#introSection{
    font-size: 2rem;
    color: #d1d1d1;
    height: 55rem;
}
.hi{
    padding: 0 3rem;
}
.blinker{
    animation: blinker 1s linear infinite;
    color: rgb(216, 228, 241);
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
.head2{
    padding: 0 3rem;
}
.lblue{
    color: lightskyblue;
}
.blue{
    color: rgb(85, 85, 238);
}
.red{
    color: rgb(240, 72, 72);
}

/* Middle section settings */
#aboutMe{
    color: rgb(216, 228, 241);
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}
.photo{
    overflow: hidden;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 5px solid #7070a8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: rotate(0deg);
}
.photo img{
    flex: 1;
    border-radius: 50%;
}
.bio{
    text-align: center;
    max-width: 30rem;
    min-width: 350px;
    flex: 1;
    border: solid rgb(22, 22, 22) 1px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    background-color: hsla(233, 8%, 19%);
    padding-inline: 2rem;
    margin: 20px;

}
#openModalButton{
    color:rgb(78, 116, 241);
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}
/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.modal-content {
    position: absolute;
    left: 50%;
    top: 50%;
    display: grid;
    justify-items: center;
    background-color: hsla(233, 8%, 19%);
    color: white;
    padding: 30px;
    border-radius: 5px;
    opacity: 0;
}
#heroImage{
    width: 95%;
    height: auto;
    margin-bottom: 2rem;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
/* Show the modal with smooth opacity and scale */
.modal.active {
    display: block;
    opacity: 1;
}
.modal-content.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Scale up to 1 (normal size) */
}
/* Bottom section settings */
.technologyBlock{
    text-align: center;
    font-size: large;
    color: rgb(216, 228, 241);
    margin-top: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}
#ikonyt{
    transition: transform 1s ease-in-out;
}
#ikonyt:hover, #ikonyt:focus{
    transform: translate(0, -1rem);
    transition: 1s;
}
.grid-text {
    margin: 0;
    padding-bottom: 15px;
}
/* Projects section settings */
#projectSection{
    margin-inline: 50px;
    color: rgb(216, 228, 241);
    display: grid;
}
.myProjects{
    text-align: center;
}
.projectContainer{
    width: 100%;
    margin-block: 20px;
}
.projectLeft{
    float: left;
    padding: 5rem;
    background-color: hsla(233, 8%, 19%);
    box-shadow: 10px 10px rgb(22, 22, 22);
    border-radius: 1rem;
}
.project1img{
    width: 30rem;
    height: auto;
    padding: 5rem;
}
.projectRight{
    float: right;
    padding: 5rem;
    background-color: hsla(233, 8%, 19%);
    box-shadow: 10px 10px rgb(22, 22, 22);
    border-radius: 1rem;
}
.project2img{
    width: 30rem;
    height: auto;
    padding: 5rem;
}
/* Contact section settings */
#contact{
    margin: auto;
    max-width: 60%;
    color: white;
    text-align: center;
    padding: 5rem;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    color: white;
    border: 1px solid #ccc;
    border-color: rgb(22, 22, 22);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
input[type=submit], input[type=reset]{
    float: left;
    min-width: 10rem;
    width: 30%;
    height: auto;
    background-color: hsla(233, 8%, 19%);
    color: white;
    padding: 12px 20px;
    border: solid rgb(22, 22, 22) 1px;
    cursor: pointer;
}
input[type=submit]{
    margin-right: 34px;
}
input[type=submit]:hover, 
input[type=reset]:hover{
    background-color: rgba(0,0,0, .5);
  }
#name, #email, #message, #topic{
    background-color: hsla(233, 8%, 19%);

}
/* Footer settings */
.footer{
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    text-align: right;
    background: rgba(0,0,0, .5);
    color: gray;
    height: inherit;
    width: auto;
}
